@import "tailwindcss";
@import "./reset.css";
@import "./theme.css";
@plugin "@tailwindcss/typography";

html.theme-transition > * {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

a:hover, .link:hover {
  color: var(--text-primary);
  text-decoration: underline;

  transition: color 0.2s ease-in-out;
}